.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.gallery,
.sailor-scouts {
    display: flex;

    .card-frame {
        max-width: 85%;
        margin: 10px;

        img {
            width: 100%;
            border-radius: 100%;
            overflow: hidden;
        }
    }
}

.sailor-scouts {
    flex-direction: column;
    align-items: center;
}

#joke-header {
    background: rgb(212, 133, 119);
}

.joke-container {
    background: rgb(134, 161, 212);
}
